version: "3"

services:
  spm-client-solr:
   image: sematext/spm-client
   container_name: spm-client-autodisco
   hostname: spm-client-autodisco
   volumes: 
     - /var/run/docker.sock:/var/run/docker.sock

  solr1:
    image: solr
    ports:
      - "8983:8983"
    labels:
      - SPM_TOKEN=${SPM_TOKEN}
    environment:
      - SOLR_OPTS=-Dcom.sun.management.jmxremote.port=3000 -Dcom.sun.management.jmxremote.ssl=false -Dcom.sun.management.jmxremote.authenticate=false
    command: bin/solr -f

  solr2:
    image: solr
    ports:
      - "8984:8983"
    labels:
      - SPM_TOKEN=${SPM_TOKEN}
    environment:
      - SOLR_OPTS=-Dcom.sun.management.jmxremote.port=3000 -Dcom.sun.management.jmxremote.ssl=false -Dcom.sun.management.jmxremote.authenticate=false
    command: bin/solr -f